.headerbar-container {
    width: 100%;
    background-color: $headerbar-color;
    margin: 0;
    box-shadow: 0px 0px 10px #333333;
}

.headerbar {
    display: flex;
    padding-left: $default-padding;
    padding-right: $default-padding;
    height: 4.5rem;
    margin: 0;
    user-select: none;
    align-items: center;
}

.logo {
    height: 100%;
}

.header-logo, .header-logo-mobile, .toggle-nav-mobile {
    display: flex;
    height: 80%;
    align-items: center;
}

.header-logo-mobile, .toggle-nav-mobile {
    height: 60%;
    cursor: pointer;
    display: none;
}

.toggle-nav-mobile {
    height: 100%;
}

.header-content {
    display: flex;
    float: right;
    height: 100%;
    align-items: center;
}

.header-push {
    margin-right: auto;
}

.header-item, .header-item:visited, .header-item:link {
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 0.7rem;
    color: $default-color;
    font-style: normal;
    text-decoration: none;
}

.header-item:active, .header-item:hover, .header-item-active {
    color: $hover-color;
    text-shadow: 0 0 1px $hover-shadow-color, 0 0 1px $hover-shadow-color;
}

$header-active-color: #b1d9ff;
.header-item-active, .header-item-active:hover {
    color: $header-active-color !important;
    text-shadow: 0 0 1px $header-active-color, 0 0 1px $header-active-color;
}

.header-message {
    text-align: center;
    color: #797979;
    font-size: 2.3rem;
}

.header-button {
    background-color: #799bbb;
    border-style: solid;
    border-color: #576f86;
    border-width: 3px;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 1.22rem !important;
}

.header-button-donate {
    background-color: #bb799c;
    border-color: #865767;
}

.header-button-donate-heart {
    height: 1.1rem;
    vertical-align: middle;
    margin-bottom: 0.1rem;
    margin-left: -0.1rem;
}


@media screen and (max-width: 515px) {
    .header-button {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .header-message {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header-logo-mobile, .toggle-nav-mobile {
        display: flex;
    }

    .header-logo {
        display: none;
    }
}